In [ ]:
#printing my name
print('saleh')

saleh

In [ ]:
Age = 15
print(Age)

15

In [ ]:
#name print
print("Abu Saleh")

Abu Saleh

In [ ]:
#pass value as perameter
b='ABU'
c='SALEH'
print("Hi",b,c)

Hi ABU SALEH

In [ ]:
"""Python support
are 3 data type """
print('3')
print(type(3))

3
<class 'int'>

In [ ]:
#Basic data type 
a=2 
b=2.25
c=5j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
"""NOTE: There are two types of Type Conversion in Python:
1.Implicit Type Conversion
2.Explicit Type Conversion

Implicit Type Conversion:
In Implicit type conversion of data types in Python, the Python interpreter automatically converts one data type to another without any user involvement.

Explicit Type Conversion:
In Explicit Type Conversion in Python, the data type is manually changed by the user as per their requirement.
With explicit type conversion, there is a risk of data loss since we are forcing an expression to be changed in some specific data type.

1.int(a, base): This function converts any data type to integer. ‘Base’ specifies the base in which string is if the data type is a string.
2. float(): This function is used to convert any data type to a floating-point number"""

#Data type Conversion
a=4
b=2.25
c=5j

x=float(a)
y=int(b)
z=complex(c)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

4.0
2
5j
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#Two pass perameter str and int value print

a=7
b="7"
c= a + int(b)
print(c)

14

In [ ]:
""" NOTE:Strings in python are surrounded by either single 
   quotation marks, or double quotation marks"""

#String print 
a="Hi,what's about you!"
print(a)

Hi,what's about you!

In [ ]:
b=""" Myself saleh ahmed.I'm a student of Data Nerd.Batch no-03."""
print(b)

 Myself saleh ahmed.I'm a student of Data Nerd.Batch no-03.

In [ ]:
""" NOTE:You can return a range of characters by using the slice syntax.
    Specify the start index and the end index, separated by a colon, to return a part of the string"""

#Python slicing string

a= "DAFFODIL INTERNATIONAL UNIVERSITY"
print(a[:33])
print(a[:9])
print(a[9:23])
print(a[23:33])

DAFFODIL INTERNATIONAL UNIVERSITY
DAFFODIL
INTERNATIONAL
UNIVERSITY

In [ ]:
"""Note:The lower() method returns a string where all characters are lower case
   Symbols and Numbers are ignored"""

# uper to lower

a= "DAFFODIL INTERNATIONAL UNIVERSITY"
print(a.lower())

daffodil international university

In [ ]:
""" NOTE:The upper() method returns a string where all characters are in upper case.
    Symbols and Numbers are ignored."""

#lower to uper

a="daffodil international university"
print(a.upper())

DAFFODIL INTERNATIONAL UNIVERSITY

In [ ]:
""" NOTE:The strip() method removes any leading (spaces at the beginning) and trailing  
   (spaces at the end) characters (space is the default leading character to remove) """

#strip

a="     DAFFODIL INTERNATIONAL UNIVERSITY     "
print(a.strip())
print(a.lstrip())
print(a.rstrip())

DAFFODIL INTERNATIONAL UNIVERSITY
DAFFODIL INTERNATIONAL UNIVERSITY
       DAFFODIL INTERNATIONAL UNIVERSITY

In [ ]:
""" NOTE: the replace() method replaces a specified 
    phrase with another specified phrase"""

#replace

txt = "Daffodil Collage."
x = txt.replace("Collage", "University")
print(x)

Daffodil University, are good collage .

In [ ]:
"""A string is a sequence of one or more characters (letters, numbers, symbols)
   that can be either a constant or a variable"""

#using variable in string

frist_name="MD."
seeound_name="ABU"
last_name="SALEH"
full_name=f"{frist_name} {seeound_name} {last_name}"
print(full_name)

MD. ABU SALEH

In [ ]:
"""NOTE:String concatenation means add strings together"""

# string concatination
age=23
first_name=" MD"
seeound_name="ABU"
last_name="SALEH"

"""Below's 3 line 
   are same but logic  
   something difference"""

full_name="Myself" f"{first_name} {seeound_name} {last_name}" f".I am " + f"{age}" + " years old."

#full_name = first_name +" " +seeound_name +" "+ last_name + ". I am " + f"{age}" + " years old."

#full_name="Myself" f"{first_name} {seeound_name} {last_name}" f".I am " + str(age) + " years old."

print(full_name)

Myself MD ABU SALEH.I am 23 years old.