#Chapture__03__List

A list is a built-in data type that allows you to store and organize multiple items in a single variable. Lists are mutable, which means you can modify their elements. Each element in a list is separated by a comma and enclosed in square brackets.

we can access individual elements of a list using indexing. Indexing starts from 0 for the first element and goes up to len(my_list) - 1 for the last element.

we can also perform various operations on lists, such as adding elements, removing elements, slicing, concatenating, and more.

Lists are a fundamental data structure in Python and are widely used for storing collections of related items. They provide flexibility and versatility in managing and manipulating data.

In [ ]:
#creat a list
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

## *Accessing Elements in a List*

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

trek

In [ ]:
#Trek 
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title()) #using to title method()

Index Positions Start at 0, Not 1

In [ ]:
#bicycles at index 1 and index 3:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [ ]:
#last item in the list:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])

specialized

## Using Individual Values from a List

In [ ]:
#the list and composing a message using that value.

bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

## Changing, Adding, and Removing Elements

## Modifying Elements in a List

In [ ]:
#change the value of this first item

motorcycles= ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

## Adding Elements to a List

In [ ]:
#add the new element 'ducati' to the end of the list:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
#Using an empty list, let’s add the elements 'honda', 'yamaha', and 'suzuki' to the list:

motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

## Inserting Elements into a List

In [ ]:
#the value of the new item.
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')  # insert method() uses
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

## Removing Elements from a List

In [ ]:
#Removing an Item Using the del Statement
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
#here’s how to remove the secondm item, 'yamaha', in the list:

motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

## Removing an Item Using the pop() Method

In [ ]:
#Let’s pop a motorcycle from the list of motorcycles
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [ ]:
#the pop() method to print a statement about the last motorcycle we bought

motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.title() + ".")

The last motorcycle I owned was a Suzuki.

## Popping Items from any Position in a List

In [ ]:
#the index of the item you want to remove in parentheses.
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')

The first motorcycle I owned was a Honda.

## Removing an Item by Value

In [ ]:
#remove the value 'ducati' from the list of motorcycles.
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
#remove the value 'ducati' and print a reason for removing it from the list:

motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

## Organizing a List

## Sorting a List Permanently with the sort() Method

In [ ]:
#assume that all the values in the list are lowercase.\

cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
#sorts the list of cars in reverse alphabetical order:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

## Sorting a List Temporarily with the sorted() Function

In [ ]:
#Let’s try this function on the list of cars.

cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

## Printing a List in Reverse Order

In [ ]:
#the list into reverse chronological order
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

## Finding the Length of a List

In [ ]:
#The list in this example has four items, so its length is 4:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

## Avoiding Index Errors When Working with Lists

In [ ]:
#a list with three items, and you ask for the fourth item:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[3])  # out of range this list

IndexError: ignored

In [ ]:
#access the last item in a list you use the index -1.
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

suzuki

In [ ]:
#this approach will cause an error is when you request the last item from an empty list:
motorcycles = []
print(motorcycles[-1]) #list index out of range

IndexError: ignored

#Chapture__04__Working with Lists

#Looping Through an Entire List

To loop through an entire list in Python, you can use a for loop

In [ ]:
#for loop to print out each name in a list of magicians:
magicians= ['alice', 'david', 'carolina']
for magician in magicians:
  print(magician)

alice
david
carolina

#A Closer Look at Looping

Let's take a closer look at looping in Python.

In Python, loops are used to repeatedly execute a block of code until a certain condition is met. There are two main types of loops in Python: for loops and while loops.

In [ ]:
for magician in magicians:
  print(magician)
for magician in magicians:
   print(magician)

alice
david
carolina
alice
david
carolina

#Doing More Work Within a for Loop

Within a for loop in Python, you can perform a variety of operations and tasks. The loop body can contain any valid Python code, allowing you to perform more work within the loop.

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
   print(magician.title() + ", that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [ ]:
'''Let’s add a second line to our message, telling each magician that we’re
looking forward to their next trick'''
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
 print(magician.title() + ", that was a great trick!")
 print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [ ]:
#Modifying elements in a list
numbers = [1, 2, 3, 4, 5]
for i in range(len(numbers)):
    numbers[i] *= 2
print(numbers)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [ ]:
#Summing up values from a list
numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num
print(total)  # Output: 15

15

In [ ]:
#Working with strings
message = "Hello, World!"
for char in message:
    if char.isalpha():
        print(char.upper())

H
E
L
L
O
W
O
R
L
D

#Doing Something After a for Loop
After a for loop in Python, you can continue executing code outside of the loop. The code that follows the loop is not indented and is executed once the loop has completed.

In [ ]:
#Example:

fruits = ['apple', 'banana', 'orange']

# Loop through each fruit
for fruit in fruits:
    print(fruit)

# Code after the loop
print("All fruits have been printed.")

apple
banana
orange
All fruits have been printed.

In [ ]:
'''the thank you message after the for loop without indentation'''
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
 print(magician.title() + ", that was a great trick!")
 print("I can't wait to see your next trick, " + magician.title() + ".\n")

 print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

Thank you, everyone. That was a great magic show!
David, that was a great trick!
I can't wait to see your next trick, David.

Thank you, everyone. That was a great magic show!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

#Avoiding Indentation Errors

## Forgetting to Indent

In [ ]:
#If you forget, Python will remind you:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(magician)

alice
david
carolina

In [ ]:
#lets you know which line it had a problem with.
 File "magicians.py", line 3
    print(magician) #unexpected indent

IndentationError: ignored

## Forgetting to Indent Additional Lines

In [ ]:
#the loop that tells each magician we’re looking forward to their next trick.
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
 print(magician.title() + ", that was a great trick!")
 print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

## Indenting Unnecessarily

In [ ]:
#informs you about the unexpected indent
message = "Hello Python world!"
print(message)

Hello Python world!

In [ ]:
#Python reports that error:
 File "hello_world.py", line 2
 print(message)  #unexpected indent

IndentationError: ignored

#Indenting Unnecessarily After the Loop

 Indentation is crucial to define the structure and scope of code blocks. Indenting unnecessarily after a loop can result in an indentation error. It's important to correctly align the code within the loop and maintain consistent indentation.

In [ ]:
#we accidentally indent then line that thanked the magicians as a group for putting on a good show.

magicians= ['alice', 'david', 'carolina']
for magician in magicians:
   print(magician.title() + ", that was a great trick!")
   print("I can't wait to see your next trick, " + magician.title() + ".\n")

   print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

Thank you everyone, that was a great magic show!
David, that was a great trick!
I can't wait to see your next trick, David.

Thank you everyone, that was a great magic show!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

# Forgetting the Colon

In Python, the colon (:) is an essential part of the syntax for certain constructs such as if statements, for loops, and function definitions. Forgetting to include the colon can lead to syntax errors.

In [ ]:
#Python to interpret the next line as the start of a loop.
magicians = ['alice', 'david', 'carolina']
 for magician in magicians     # this line mistel the colon that'why error the code
 print(magician)

IndentationError: ignored

# Making Numerical Lists

To make numerical lists in Python, you can use the range() function in combination with the list() function to convert the range object into a list

#Using the range() Function


The range() function in Python is used to generate a sequence of numbers. It can be used in various ways depending on your requirements.

In [ ]:
#use the range() function to print a series of numbers like this
for value in range(1,5):
 print(value)

1
2
3
4

In [ ]:
#print the numbers from 1 to 5, you would use range(1,6):
for value in range(1,6):
 print(value)

1
2
3
4
5

#Using range() to Make a List of Numbers

we can use the range() function in Python to generate a sequence of numbers and convert it into a list. The range() function creates an iterable object that represents a sequence of numbers within a specified range.

In [ ]:
#use list() to convert that same set of numbers into a list:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#how we would list the even numbers between 1 and 10:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
#two asterisks (**) represent exponents put the first 10 square numbers into a list.
squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#two asterisks (**) represent exponents
squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)
  print(squares)  # print space back to right

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#the temporary variable square and append each new value directly to the list:
squares = []
for value in range(1,11):
  squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Simple Statistics with a List of Numbers

To perform simple statistics with a list of numbers in Python, you can use built-in functions and methods.

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)
max(digits)
sum(digits)

45

#List Comprehensions


List comprehensions in Python provide a concise and elegant way to create new lists based on existing lists or other iterable objects. They allow you to define a new list by specifying an expression, followed by a for loop or multiple for loops, and optional if conditions.

In [ ]:
#earlier but uses a list comprehension
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Working with Part of a List


When working with part of a list, you can use list slicing in Python to extract a portion of the list based on indices

## Slicing a List

Slicing a list in Python allows you to extract a portion of the list by specifying the start and end indices.

In [ ]:
#request indices 0 through 3, which would return elements 0, 1, and 2.
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [ ]:
#the slice at index 1 and end at index 4:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[1:4])

['martina', 'michael', 'florence']

In [ ]:
#automatically starts your slice at the beginning of the list:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[:4])

['charles', 'martina', 'michael', 'florence']

In [ ]:
#start with index 2 and omit the second index:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[2:])

['michael', 'florence', 'eli']

## Looping Through a Slice

In [ ]:
#the first three players and print their names as part of a simple roster:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")
for player in players[:3]:
  print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

## Copying a List

In [ ]:
#can create their list by copying ours:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

In [ ]:
#each list and show that each list keeps track of the appropriate person’s favorite foods
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
my_foods.append('cannoli')
friend_foods.append('ice cream')
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

In [ ]:
#you try to copy a list without using a slice.

my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods ## This doesn't work
my_foods.append('cannoli')
friend_foods.append('ice cream')
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

## Tuples

## Defining a Tuple

In [ ]:
#the dimensions into a tuple:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [ ]:
#hange one of the items in the tuple dimensions:
dimensions = (200, 50)
dimensions[0] = 250

TypeError: ignored

#Looping Through All Values in a Tuple

In [ ]:
#tuple using a for loop, just as you did with a list:
dimensions = (200, 50)
for dimension in dimensions:
  print(dimension)

200
50

#Writing over a Tuple

In Python, tuples are immutable, which means their elements cannot be modified after they are created. Therefore, you cannot directly write over or modify a tuple.

In [ ]:
#if we wanted to change our dimensions, we could redefine the entire tuple

dimensions = (200, 50)
print("Original dimensions:")
for dimension in dimensions:
 print(dimension)

dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
 print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

#Styling Your Code

*Indentation:

1.Use 4 spaces for indentation (avoid tabs).

2.Be consistent with indentation throughout the code.

3.Indent the code inside control structures (if statements, loops, etc.).

4.Indent continuation lines to align with the opening delimiter.




*Line Length:

1.Limit lines to a maximum of 79 characters.

2.For long expressions, break them into multiple lines using parentheses or backslashes.




*Blank Lines:

1.Use blank lines to separate functions, classes, and larger logical sections of code.

2.Use two blank lines to separate top-level functions and classes.





*Other Style Guidelines:

1.Use lowercase for variable and function names, separated by underscores (snake_case).

2.Use uppercase for constants.

3.Use a space around operators and after commas, but not directly inside parentheses or brackets.

4.Put spaces before and after binary operators (e.g., +, -, *, /) for clarity.

5.Use descriptive names for variables, functions, and classes.

6.Use docstrings to document functions, classes, and modules.

7.Follow naming conventions for modules (lowercase_with_underscores.py),

classes (CapitalizedWords), and methods/functions (lowercase_with_underscores).

#CHAPTURE  -   05  __  IF STATEMENT

In [ ]:
#A Simple Example
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
 if car == 'bmw':
   print(car.upper())
 else:
   print(car.title())

Audi
BMW
Subaru
Toyota

## Conditional Tests

#Checking for Equality

##

car ='bmw'

car == 'bmw'

  True


Explain: Yes, the code you provided will evaluate to True. It checks if the variable car is equal to the string 'bmw'.If the value of car is indeed 'bmw', the comparison will be true, and the expression car == 'bmw' will return True'''

##


car = 'audi'

v >>> car == 'bmw'

False 

Explain: Yes, that's correct. In this case, the variable car is assigned the 

value 'audi', and when you compare it to the string 'bmw' using the == 

operator, the comparison evaluates to False.

This is because the value of car is not equal to 'bmw'''

## Ignoring Case When Checking for Equality

##
 
car = 'Audi'

>>> car == 'audi'

False

explain:That's correct. In Python, string comparisons are case-sensitive. So when you compare the variable car with the string 'audi', the comparison will evaluate to False because the string 'Audi' is not equal to the string 'audi' due to the difference in case.

##

car = 'Audi'

>>> car.lower() == 'audi'

True

explain:

Yes, that's correct. In the code car.lower(), the lower() method is used to 

convert the string stored in the car variable to lowercase. Then, the resulting

lowercase string is compared with the string 'audi' using the == operator. 
\
Since both strings are now in lowercase and are equal, the comparison evaluates to True.

## Checking for Inequality

In [ ]:
#topping in a variable and then print a message

requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
 print("Hold the anchovies!")

Hold the anchovies!

## Numerical Comparisons

##

age = 18

>>> age == 18

True


Explian:

Yes, that's correct. In this code snippet, the variable age is assigned the

 value 18. When you compare age with the number 18 using the == operator, the 
 
 comparison evaluates to True. This is because the value of age is indeed equal
  to 18.

In [ ]:
#prints a message if the given answer is not correct:
answer = 17
if answer != 42:
    print("That is not the correct answer. Please try again!")

That is not the correct answer. Please try again!

# Checking Multiple Conditions

In [ ]:
#uses logical operators such as and and or

age = 25
country = 'USA'

if age >= 18 and country == 'USA':
    print("You are eligible.")
else:
    print("You are not eligible.")

You are eligible.

## Using and to Check Multiple Conditions

use the and operator to check multiple conditions in an if statement. The and operator evaluates to True only if both conditions on its left and right are True.

In [ ]:
#Check Multiple Conditions

age = 25
is_student = True

if age >= 18 and is_student:
    print("You are eligible.")
else:
    print("You are not eligible.")

You are eligible.

## Using or to Check Multiple Conditions

You can use the or operator to check multiple conditions in an if statement. The or operator evaluates to True if at least one of the conditions on its left or right is True.

In [ ]:
# or condition cheak this code

age = 16
is_student = False

if age >= 18 or is_student:
    print("You are eligible.")
else:
    print("You are not eligible.")

You are not eligible.

## Checking Whether a Value Is in a List

To check whether a value is present in a list, you can use the in operator. The in operator returns True if the value is found in the list, and False otherwise. 

Here's an example:

In [ ]:
#Value Is in a List

fruits = ['apple', 'banana', 'orange']

if 'apple' in fruits:
    print("Apple is in the list.")
else:
    print("Apple is not in the list.")

Apple is in the list.

## Checking Whether a Value Is Not in a List

To check whether a value is not present in a list, you can use the not in

operator. The not in operator returns True if the value is not found in the 
 
list, and False if it is found. 

Here's an example:

In [ ]:
#Value Is Not in a List

fruits = ['apple', 'banana', 'orange']

if 'mango' not in fruits:
    print("Mango is not in the list.")
else:
    print("Mango is in the list.")

Mango is not in the list.

## Boolean Expressions

Boolean expressions are expressions or conditions that evaluate to either True

or False. They are commonly used in programming to control the flow of execution based on certain conditions. Here are some examples of boolean
expressions:

**Comparison Operators: 

These operators compare two values and return a boolean result. Some commonly used comparison operators are:

1. == (equal to): Checks if two values are equal.

2. != (not equal to): Checks if two values are not equal.

3. < (less than): Checks if the left value is less than the right value.

4. > (greater than): Checks if the left value is greater than the right value.

5. <= (less than or equal to): Checks if the left value is less than or equal 
to the right value.

6. >= (greater than or equal to): Checks if the left value is greater than or equal to the right value.


**Logical Operators: 

These operators combine multiple boolean expressions and return a boolean result. The commonly used logical operators are:

1. and: Returns True if both expressions on the left and right are True.

2. or: Returns True if at least one of the expressions on the left or right is True.

3. not: Negates the boolean value, i.e., returns True if the expression is False, and vice versa.

Boolean expressions are frequently used in conditional statements (if, else, 

elif) and looping constructs (while, for) to control the program's flow based

on certain conditions.

In [ ]:
#example:

x = 5
y = 10

if x < y and y > 15:
    print("Condition satisfied.")
else:
    print("Condition not satisfied.")

Condition not satisfied.

## if Statements


The if statement is a control structure in programming that allows you to execute a block of code conditionally based on a boolean expression

## Simple if Statements

In [ ]:
#example:

x = 5

if x > 10:
    print("x is greater than 10")
else:
    print("x is less than or equal to 10")

x is less than or equal to 10

In [ ]:
#if the individual has registered to vote yet:

age = 19
if age >= 18:
 print("You are old enough to vote!")
 print("Have you registered to vote yet?")

You are old enough to vote!
Have you registered to vote yet?

## if-else Statements

The if-else statement is a control structure in programming that allows you to execute one block of code if a condition is true and another block of code if the condition is false.

systex:

if condition:

    # Code block to execute if the condition is True

else:

    # Code block to execute if the condition is False

In [ ]:
#add a message for anyone who is not old enough to vote.

age = 17
if age >= 18:
  print("You are old enough to vote!")
  print("Have you registered to vote yet?")
else:
 print("Sorry, you are too young to vote.")
 print("Please register to vote as soon as you turn 18!")

Sorry, you are too young to vote.
Please register to vote as soon as you turn 18!

# The if-elif-else Chain

The if-elif-else chain is a control structure in programming that allows you to

handle multiple conditions in a cascading manner. It provides a way to test 

multiple conditions sequentially until a condition evaluates to True, and then

executes the corresponding code block. 


Syntex:

if condition1:

    # Code block to execute if condition1 is True

elif condition2:

    # Code block to execute if condition1 is False and condition2 is True

elif condition3:

    # Code block to execute if condition1 and condition2 are False and 
    condition3 is True
else:

    # Code block to execute if all conditions are False

In [ ]:
#example: multiple conditions are checked sequentially.

x = 5

if x > 10:
    print("x is greater than 10")
elif x == 10:
    print("x is equal to 10")
elif x > 5:
    print("x is greater than 5 but not equal to 10")
else:
    print("x is less than or equal to 5")

x is less than or equal to 5

In [ ]:
#code tests for the age group of a person and then prints an admission price message.
age = 12
if age < 4:
 print("Your admission cost is $0.")
elif age < 18:
 print("Your admission cost is $5.")
else:
 print("Your admission cost is $10.")

Your admission cost is $5.

## Using Multiple elif Blocks

 I can use multiple elif blocks in an if-elif-else chain to handle multiple conditions. This allows you to test multiple conditions sequentially and execute the code block corresponding to the first condition that evaluates to True.

In [ ]:
#Let’s say that anyone 65 or older pays half the regular admission, or $5.
age = 12
if age < 4:
 price = 0
elif age < 18:
 price = 5
elif age < 65:
 price = 10
else:
 price = 5
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.

# Omitting the else Block

I can omit the else block in an if-elif-else chain if you don't need to specify any code to execute when all conditions are False. In such cases, the if-elif chain will only execute the code block corresponding to the first condition that evaluates to True, and if none of the conditions are True, the program will continue executing the code after the if-elif chain.

In [ ]:
#example

x = 5

if x > 10:
    print("x is greater than 10")
elif x == 10:
    print("x is equal to 10")
elif x > 5:
    print("x is greater than 5 but not equal to 10")

In [ ]:
'''sometimes it is clearer to use an additional
elif statement that catches the specific condition of interest'''

age = 12
if age < 4:
 price = 0
elif age < 18:
 price = 5
elif age < 65:
 price = 10
elif age >= 65:
 price = 5
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.

# Testing Multiple Conditions

To test multiple conditions in Python, I can use logical operators such as and and or to combine multiple boolean expressions.

In [ ]:
#example
x = 5
y = 10

if x > 0 and y < 20:
    print("Both conditions are satisfied.")
else:
    print("At least one condition is not satisfied.")

Both conditions are satisfied.

In [ ]:
'''If someone requests a two-topping
pizza, you’ll need to be sure to include both toppings on their pizza'''


requested_toppings = ['mushrooms', 'extra cheese']
if 'mushrooms' in requested_toppings:
 print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
 print("Adding pepperoni.")
if 'extra cheese' in requested_toppings:
 print("Adding extra cheese.")

print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

# Using if Statements with Lists

I can use if statements with lists to perform various operations based on the contents of the list.

## Checking for Special Items

In [ ]:
'''using a loop to announce each topping as it’s
added to the pizza'''
toppings= ['mushrooms', 'green peppers', 'extra cheese']
for topping in requested_toppings:
 print("Adding " + requested_topping + ".")
print("\nFinished making your pizza!")

Adding mushrooms.
Adding mushrooms.

Finished making your pizza!

In [ ]:
#Checking for special characters or patterns:

usernames = ['john', 'smith', 'admin', 'user123']
for username in usernames:
    if username == 'admin':
        print("Admin account found!")
    elif '123' in username:
        print("User with numeric ID found!")
    else:
        print("Regular user account:", username)

Regular user account: john
Regular user account: smith
Admin account found!
User with numeric ID found!

In [ ]:
#if statement inside the for loop can handle this situation appropriately

requested_toppings = ['mushrooms', 'green peppers', 'extra cheese']
for requested_topping in requested_toppings:
    if requested_topping == 'green peppers':
      print("Sorry, we are out of green peppers right now.")
    else:
      print("Adding " + requested_topping + ".")
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we are out of green peppers right now.
Adding extra cheese.

Finished making your pizza!

## Checking That a List Is Not Empty

In [ ]:
'''If the list is not empty, we’ll build
the pizza just as we did in the previous examples'''
requested_toppings = []
if requested_toppings:
 for requested_topping in requested_toppings:
     print("Adding " + requested_topping + ".")
 print("\nFinished making your pizza!")
else:
 print("Are you sure you want a plain pizza?")

Are you sure you want a plain pizza?

## Using Multiple Lists


When working with multiple lists, you can use various techniques to compare, combine, or perform operations on them.

## Comparing corresponding elements in two lists

In [ ]:
#elements in two lists:

list1 = [1, 2, 3]
list2 = [4, 5, 6]

for i in range(len(list1)):
    if list1[i] > list2[i]:
        print(list1[i], "is greater than", list2[i])
    elif list1[i] < list2[i]:
        print(list1[i], "is less than", list2[i])
    else:
        print(list1[i], "is equal to", list2[i])

1 is less than 4
2 is less than 5
3 is less than 6

## Combining two lists using the + operator

In [ ]:
#two lists using the + operator

list1 = [1, 2, 3]
list2 = [4, 5, 6]

combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

## Performing element-wise operations on two lists

In [ ]:
#element-wise operations on two lists.

list1 = [1, 2, 3]
list2 = [4, 5, 6]

sum_list = [a + b for a, b in zip(list1, list2)]
print(sum_list)

[5, 7, 9]

# Checking if all elements in one list are present in another

In [ ]:
#if all elements in one list are present in another

list1 = [1, 2, 3]
list2 = [1, 2, 3, 4, 5]

if all(item in list2 for item in list1):
    print("All elements of list1 are present in list2.")
else:
    print("Some elements of list1 are not present in list2.")

All elements of list1 are present in list2.