                                             â–¶ LIST IN PYTHON:

In [ ]:
#creat a list 
thisclass=["apple","python","mango","banana"]
print(thisclass)

['apple', 'python', 'mango', 'banana']

List:


1.Lists are used to store multiple items in a single variable.

2.Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [ ]:
#list allow diplicate value
thisclass=["apple","mango","tree","apple"]
print(thisclass)

['apple', 'mango', 'tree', 'apple']

In [ ]:
#print the number of the list item number 
thisclass=["apple","mango","tree","apple"]
print(len(thisclass))

4

                    List Items - Data Types

In [ ]:
#String, int and boolean data types
list1 = ["apple", "banana", "cherry"] #string
list2 = [1, 5, 7, 9, 3]               #int
list3 = [True, False, False] # boolean

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [ ]:
# a lsit with str,int,boolean value print
thislist=["apple",10,True,"fruits"]
print(thislist)

['apple', 10, True, 'fruits']

In [ ]:
#Type
thislist=["appple","mango","egg"]
print(type(thislist))

<class 'list'>

In [ ]:
#using list() to make a constructor 
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']


Python - Access List Items

In [ ]:
#Print the second item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
#Print the last item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [ ]:
#Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
#This example returns the items from the beginning to, but NOT including, "kiwi"

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#This example returns the items from "cherry" to the end

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#This example returns the items from "orange" (-4) to, but NOT including "mango" (-1)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
#Check if "apple" is present in the list

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

                             Python - Change List Items

In [ ]:
#Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon"

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
#Change the second and third value by replacing it with one value

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [ ]:
#Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

                                       Python - Add List Items

In [ ]:
#Using the append() method to append an item

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Insert an item as the second position

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#Add the elements of tropical to thislist

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#Add elements of a tuple to a list:

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

Python - Remove List Items

In [ ]:
#Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
#Remove the second item:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [ ]:
#Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[0]    #the del keyword also removes the specified index
print(thislist)

['banana', 'cherry']

In [ ]:
#Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist  #The del keyword can also delete the list completely.

In [ ]:
#Clear the list content:

thislist = ["apple", "banana", "cherry"]
'''The clear() method empties the list.
   The list still remains, but it has no content'''
thislist.clear()
print(thislist)

[]

Copy a List


You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [ ]:
#Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

                              Python - Join Lists


Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [ ]:
#Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

                         Python - List Methods


List Methods


Python has a set of built-in methods that you can use on lists.

Method	Description:

append()	Adds an element at the end of the list


clear()	Removes all the elements from the list


copy()	Returns a copy of the list


count()	Returns the number of elements with the specified value


extend()	Add the elements of a list (or any iterable), to the end of this current list


index()	Returns the index of the first element with the specified value


insert()	Adds an element at the specified position



pop()	Removes the element at the specified position


remove()	Removes the item with the specified value


reverse()	Reverses the order of the list



sort()	Sorts the list

In [ ]:
#Add an element to the fruits list:

fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

In [ ]:
#Remove all elements from the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
print(fruits)

[]

In [ ]:
#Copy the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Return the number of times the value "cherry" appears in the fruits list:

fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
print(x)

1

In [ ]:
#Add the elements of cars to the fruits list:

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
#What is the position of the value "cherry":

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
print(x)

2

In [ ]:
#Insert the value "orange" as the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#Remove the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

'banana'

In [ ]:
#Remove the "banana" element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [ ]:
#Reverse the order of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [ ]:
#Sort the list alphabetically:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

                                                      PYTHON TUPLE

Tuple


Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
#creat a tuple
mytuple=("apple","mango","egg")
print(mytuple)

('apple', 'mango', 'egg')

Tuple Items


Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered:


When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable:


Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates:


Since tuples are indexed, they can have items with the same value

In [ ]:
#Tuples allow duplicate values

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
#Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))    #To determine how many items a tuple has, use the len() function:

3

In [ ]:
#One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
#String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [ ]:
#A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")
print (tuple1)

('abc', 34, True, 40, 'male')

In [ ]:
#What is the data type of a tuple?

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [ ]:
#Using the tuple() method to make a tuple

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple) #It is also possible to use the tuple() constructor to make a tuple.

('apple', 'banana', 'cherry')

Python - Access Tuple Items

In [ ]:
#Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
#Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [ ]:
#Return the third, fourth, and fifth item

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
#This example returns the items from the beginning to, but NOT included, "kiwi"

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
#This example returns the items from "cherry" and to the end

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
#This example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
#Check if "apple" is present in the tuple:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Change Tuple Values

In [ ]:
#Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Add Items

Since tuples are immutable, they do not have a built-in append


() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing 


a tuple, you can convert it into a list, add your item(s), and

 convert it back into a tuple.

In [ ]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Add tuple to a tuple:

You are allowed to add tuples to tuples, so if you want to add 

one item, (or many), create a new tuple with the item(s), and 

add it to the existing tuple

In [ ]:
#Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Remove Items

Note: You cannot remove items in a tuple.


Tuples are unchangeable, so you cannot remove items from it, 

but you can use the same workaround as we used for changing 

and adding tuple items

In [ ]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [ ]:
#The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

Python - Unpack Tuples

In [ ]:
#Packing a tuple:

fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [ ]:
#Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Using Asterisk*

If the number of variables is less than the number of values, 

you can add an * to the variable name and the values will be 

assigned to the variable as a list

In [ ]:
#Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the 

last, Python will assign values to the variable until the

 number of values left matches the number of variables left.

In [ ]:
#Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Python - Join Tuples

In [ ]:
#Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2 #To join two or more tuples you can use the + operator
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples

In [ ]:
#Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Python - Tuple Methods

Tuple Methods


Python has two built-in methods that you can use on tuples.

Method --------------------- Description


count()      ----- 	Returns the number of times a specified value occurs in a tuple


index()      ----- 	Searches the tuple for a specified value and 


returns the position of where it was found

In [ ]:
#Return the number of times the value 5 appears in the tuple:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [ ]:
#Search for the first occurrence of the value 8, and return its position:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

                                                         
                                                        PYTHON SETS

Set



Sets are used to store multiple items in a single variable.



Set is one of 4 built-in data types in Python used to store 


collections of data, the other 3 are List, Tuple, and 


Dictionary, all with different qualities and usage.



A set is a collection which is unordered, unchangeable*, and 

unindexed.

* Note: Set items are unchangeable, but you can remove items 
and add new items.



Sets are written with curly brackets.

In [ ]:
#Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

Set Items



Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered:
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable:
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

*Once a set is created, you cannot change its items, but you can remove items and add new items.

In [ ]:
#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

Note: The values True and 1 are considered the same value in sets, and are treated as duplicates

In [ ]:
#True and 1 is considered the same value

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'cherry', True, 'apple', 2, 'banana'}

Get the Length of a Set: To determine how many items a set has, use the len() function.

In [ ]:
#Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Set Items - Data Types

In [ ]:
#String, int and boolean data types

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'cherry', 'apple', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

In [ ]:
#A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

type()

In [ ]:
#What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

The set() Constructor:


It is also possible to use the set() constructor to make a set.

In [ ]:
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

Python - Access Set Items

Access Items:
You cannot access items in a set by referring to an index or a key.



But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [ ]:
#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

Change Items:Once a set is created, you cannot change its items, but you can add new items.

Python - Add Set Items:

Add Items:

1.Once a set is created, you cannot change its items, but you can add new items.

2.To add one item to a set use the add() method.

In [ ]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'banana', 'orange'}

Add Sets: To add items from another set into the current set, use the update() method.

In [ ]:
#Add elements from tropical into thisset

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'papaya', 'apple', 'mango', 'banana', 'pineapple'}

Add Any Iterable

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.)

In [ ]:
#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'kiwi', 'banana', 'orange'}

Python - Remove Set Items

Remove Item:
To remove an item in a set, use the remove(), or the discard() method.

Note: If the item to remove does not exist, remove() will raise an error.

Note: If the item to remove does not exist, discard() will NOT raise an error.

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.


You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.



The return value of the pop() method is the removed item.

In [ ]:
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [ ]:
#Remove a random item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [ ]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: ignored

Python - Join Sets

Join Two Sets:

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another

In [ ]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'c', 'a'}

In [ ]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'b', 3, 'c', 'a'}

Keep ONLY the Duplicates:

The intersection_update() method will keep only the items that are present in both sets.

In [ ]:
#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
#Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

Keep All, But NOT the Duplicates:

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [ ]:
#Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'microsoft', 'banana'}

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets

In [ ]:
#Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'microsoft', 'banana', 'google'}

Note: The values True and 1 are considered the same value in sets, and are treated as duplicates

In [ ]:
#True and 1 is considered the same value:

x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)
print(z)

{'cherry', 2, 'banana', 'google'}

Python - Set Methods

Set Methods
Python has a set of built-in methods that you can use on sets.

Method----------------------------------Description


1.add()	---Adds an element to the set.

2.clear()	----Removes all the elements from the set.

3.copy()-----	Returns a copy of the set.

4.difference()-----	Returns a set containing the difference between two or more sets.

5.difference_update()-----	Removes the items in this set that are also included in another, specified set.

6.discard()----	Remove the specified item.

7.intersection()-----	Returns a set, that is the intersection of two other sets.

8.intersection_update()----	Removes the items in this set that are not present in other, specified set(s).

9.isdisjoint()----	Returns whether two sets have a intersection or not.

10.issubset()	------Returns whether another set contains this set or not.

11.issuperset()-------	Returns whether this set contains another set or not.

12.pop()	-----Removes an element from the set.

13.remove()-----	Removes the specified element.

14.symmetric_difference()-----	Returns a set with the symmetric differences of two sets.

15.symmetric_difference_update()-----	inserts the symmetric differences from this set and another.

16.union()-----	Return a set containing the union of sets.

17.update()	-----Update the set with the union of this set and others.

In [ ]:
#Add an element to the fruits set:

fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'cherry', 'apple', 'banana', 'orange'}

In [ ]:
#Remove all elements from the fruits set:

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [ ]:
#Copy the fruits set:

fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'cherry', 'apple', 'banana'}

In [ ]:
#Return a set that contains the items that only exist in set x, and not in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [ ]:
#Remove the items that exist in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [ ]:
#Remove "banana" from the set:

fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'cherry', 'apple'}

In [ ]:
#Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [ ]:
#Remove the items that is not present in both x and y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [ ]:
#Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [ ]:
#Return True if all items in set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [ ]:
#Return True if all items set y are present in set x:

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [ ]:
#Remove a random item from the set:

fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'apple', 'banana'}

In [ ]:
#Remove "banana" from the set:

fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

In [ ]:
#Return a set that contains all items from both sets, except items that are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'microsoft', 'banana', 'google'}

In [ ]:
#Remove the items that are present in both sets, AND insert the items that is not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'microsoft', 'banana'}

In [ ]:
#Return a set that contains all items from both sets, duplicates are excluded:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'cherry', 'apple', 'microsoft', 'google', 'banana'}

In [ ]:
#Insert the items from set y into set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'cherry', 'apple', 'microsoft', 'google', 'banana'}